<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title != site.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	{% if site.keywords %}<meta name="keywords" content="{{ site.keywords }}" />{% endif %}
    {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
	<link rel="stylesheet" href="{{ ASSET_PATH }}/css/jquery.slider.min.css" type="text/css">
	<script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery.slider.min.js"></script>
    <!-- Le fav and touch icons -->
  </head>
 
  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>
<style>
.tipdiv{padding: 10px 20px;background: #046D8B;color: white;border-radius: 5px;font-size: 25px;line-height: 30px;margin-bottom: 30px;}
.tipdiv hr{margin:10px 0px;}
.tipdiv ul li {line-height:30px;}
</style>
    <div class="container">
      <div id="jiathis_main" class="content">
		<div class="tipdiv">{{ site.tip }}</div>
		<div style="clear:both;"></div>
        {{ content }}
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} 2012 </p>
      </footer>

    </div> <!-- /container -->

    {% include JB/analytics %}
	
<!-- JiaThis Button BEGIN -->
<div class="jiathis_share_slide jiathis_share_24x24" id="jiathis_share_slide">
<div class="jiathis_share_slide_top" id="jiathis_share_title"></div>
<div class="jiathis_share_slide_inner">
<div class="jiathis_style_24x24">
<a class="jiathis_button_qzone"></a>
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_tqq"></a>
<a class="jiathis_button_renren"></a>
<a class="jiathis_button_kaixin001"></a>
<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'
	,slide:{
		divid:'jiathis_main',
		pos:'left'
	}
};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1345212318569675" charset="utf-8"></script>	
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_slide.js" charset="utf-8"></script>
</div></div></div>
<!-- JiaThis Button END -->
  </body>
</html>
